<launch>

    <arg name="visualize" default="true"/>

    <rosparam command="load" file="$(find g12_bringup)/params/game.yaml"/>

    <!-- Red1 -->
    <include file="$(find g12_bringup)/launch/robot.launch">
        <arg name="robot_name" value="red1"/>
        <arg name="robot_color" value="Red"/>
        <arg name="x_pos" value="5"/>
        <arg name="y_pos" value="5"/>
        <arg name="z_pos" value="0"/>
    </include>

    <group if="$(arg visualize)">
        <!-- Include do visualize.launch-->
        <include file="$(find g12_bringup)/launch/visualize.launch"/>
    </group>



</launch>


