<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="player_name" default="g12"/>
    <arg name="keyboard" default="True"/>

    <!-- Use a player_name namespace to get unique topic names, services, parameters, etc.-->
    <group ns="$(arg player_name)">

      <!-- Use keyboard -->
      <group if="$(arg keyboard)">
        <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard" output="screen">
        </node>
      </group>

      <!-- Use GUI -->
      <group unless="$(arg keyboard)">
        <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="teleop_rqt"  output="screen">
          <param name="~default_topic" value="/$(arg player_name)/cmd_vel"/>
        </node>
      </group>

    </group>

</launch>